.eachFoodCardImg {
  width: 170px;
  height: 120px;
  border-radius: 8px;
}
.itemsContent {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.itemName {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #334155;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.itemCost {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #334155;
  padding-top: 15px;
  margin-left: 6px;
  margin-top: 0px;
}
.itemStarContainer {
  display: flex;
  align-items: center;
  margin-top: 0px;
}
.itemStarImg {
  width: 12px;
  color: #ffcc00;
  margin-bottom: 18px;
}
.itemStarValue {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #0a1f44;
  margin-left: 6px;
}
.itemRateContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.itemRateImg {
  width: 12px;
  color: #334155;
}
.itemStarValue {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #0a1f44;
}
.addButton {
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: #ffcc00;
  color: #ffcc00;
  font-size: 12px;
  padding: 3px;
  width: 40px;
  background-color: transparent;
}
.counterBg {
  display: flex;
  align-items: center;
}
.counter {
  color: #475569;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  padding: 10px;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .eachFoodCardImg {
    width: 255px;
    height: 150px;
    border-radius: 8px;
  }
  .itemsContent {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  .itemName {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #334155;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .itemCost {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #334155;
    padding-top: 15px;
    margin-left: 6px;
    margin-top: 0px;
  }
  .itemStarContainer {
    display: flex;
    align-items: center;
    margin-top: 0px;
  }
  .itemStarImg {
    width: 12px;
    color: #ffcc00;
    margin-bottom: 18px;
  }
  .itemStarValue {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #0a1f44;
    margin-left: 6px;
  }
  .itemRateContainer {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }
  .itemRateImg {
    width: 12px;
    color: #334155;
  }
  .itemStarValue {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #0a1f44;
  }
  .addButton {
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #ffcc00;
    color: #ffcc00;
    font-size: 12px;
    padding: 3px;
    width: 40px;
    background-color: transparent;
  }
  .counterBg {
    display: flex;
    align-items: center;
  }
  .counter {
    color: #475569;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
  }
}
